/* ========================================
   Component: Button
======================================== */

/* ===== 1. General Button Styles ===== */
button {
    /*padding: 0.3em 1.2em 0.3em 1.2em;*/
    border-radius: 1em;
    border: none;
    font-family: 'Jura', serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* ===== 2. Specific Button Styles ===== */

/* ===== 2.1 Sign in, Sign out and Registration Button ===== */

.secondary-button {
    background-color: var(--color-secondary);
    color: var(--color-main-white);
    padding: 0.3em 1.6em;
    align-self: center;
}

.sign-out-button {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.3em 0.5em;
    background-color: var(--color-secondary);
    color: var(--color-main-white);
}

.go-to-profile-button {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.3em 1em;
    background-color: var(--color-secondary);
    color: var(--color-main-white);
}

/* ===== 2.2 Search Button -- Category ===== */

.search-button--category {
    background-color: transparent;
    padding: 0 0.5em 0 0;
}

.category-selection-button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    padding: 0.3em 1em;
}

.search-icon-category {
    color: var(--color-main-white);
}

.button--select-categories {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    padding: 0.3em 1em;
}

/*.search-button--category */

/*TODO: might need to remove these due to API limits*/

.selectable-category {
    display: inline flex;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    padding: 0.3em 0.5em;
    background-color: var(--color-main-white);
}

.selected-category {
    display: inline flex;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    padding: 0.3em 0.5em;
    background-color: var(--color-secondary);
    color: var(--color-main-white);
}

/*.hovered-icon {*/
/*    color: var(--color-primary);*/
/*}*/

/*.default-icon {*/
/*    color: var(--color-secondary);*/
/*}*/

/* ===== 2.3 Button - Edit my playlists ===== */

.button--edit-my-playlists,
.button--edit-playlist{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    padding: 0.3em 1em;
}

/* ===== 2.3 Button - Home-page-buttons ===== */

.sign-out-button {

}