/* ========================================
   Component: Button
======================================== */

/* ===== 1. General Button Styles ===== */
button {
    /*padding: 0.3em 1.2em 0.3em 1.2em;*/
    border-radius: 1em;
    border: none;
    font-family: 'Jura', serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* ===== 2. Specific Button Styles ===== */

/* ===== 2.1 Sign in, Sign out and Registration Button ===== */

.secondary-button {
    background-color: var(--color-secondary);
    color: var(--color-main-white);
    padding: 0.3em 1.6em;
    align-self: center;
}

.sign-out-button {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.3em 0.5em;
    background-color: var(--color-secondary);
    color: var(--color-main-white);
}

.go-to-profile-button {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.3em 1em;
    background-color: var(--color-secondary);
    color: var(--color-main-white);
}

/* ===== 2.2 Search Button -- Genre ===== */

.search-button--genre {
    background-color: transparent;
    padding: 0 0.5em 0 0;
}

.genre-selection-button,
.genre-search-button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    padding: 0.3em 1em;
}

.button--select-genres {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    padding: 0.3em 1em;
}

.selectable-genre{
    display: inline flex;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    padding: 0.3em 0.5em;
    background-color: var(--color-main-white);
}

.selected-genre {
    display: inline flex;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    padding: 0.3em 0.5em;
    background-color: var(--color-secondary);
    color: var(--color-main-white);
}

.playlist-list-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 1em;
    width: 100%;
    background-color: var(--color-main-white);
    padding: 0.5em;
    text-align: left;
    border-radius: 0.8em;
}

.playlist-img-wrapper {
    height: 80px;
}

.playlist-img {
    height: 100%;
    border-radius: 0.4em;
}

/* ===== 2.3 Button - Edit my playlists ===== */

.playlist-button {
    display: flex;
    flex-direction: row-reverse;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    padding: 0.3em 1em;
}

/* ===== 2.3 Button - Home-page-buttons ===== */

.search-icon {
    color: var(--color-main-white);
}