/* ========================================
   Component: Card Top Bar
======================================== */

/* ===== 1. General Top Bar Styles ===== */

.card-top-bar {
    padding: 1em;
    border-radius: 1.2em 1.2em 0 0;
}

/* ===== 2. Unique Top Bar Styles ===== */

.top-bar-login-form {
    background-color: var(--color-secundary);
    color: var(--color-main-white);
}

.top-bar-registration-form {
    background-color: var(--color-secundary);
    color: var(--color-main-white);
}

.top-bar-genre-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secundary);
    color: var(--color-main-white);
}

.top-bar-artist-selection {
    background-color: var(--color-main-white);
}

.top-bar-music-suggestions {
    background-color: var(--color-primary);
    color: var(--color-main-white);
}

.top-bar-my-playlists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-main-white);
}