/* ========================================
   Component: Card Top Bar
======================================== */

/* ===== 1. General Top Bar Styles ===== */

.card-top-bar {
    padding: 1em;
    border-radius: 1.2em 1.2em 0 0;
}

.color-primary {
    background-color: var(--color-primary);
    color: var(--color-main-white);

}

.color-secondary {
    background-color: var(--color-secondary);
    color: var(--color-main-white);
}

.color-light {
    background-color: var(--color-main-white);
}

/* ===== 2. Specified Top Bar Styles ===== */

.top-bar-introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-category-selection,
.top-bar-genre-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.top-bar-category-selection-pop-up {
    display: flex;
    justify-content: space-between;
}

.top-bar-my-playlists,
.top-bar-playlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-registration-error-message {
    display: flex;
    gap: 0.5em;
    align-items: center;
}