.favorite-icon {
    position: relative;
    background-color: transparent;

}

.heart-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.heart-fill.favorite {
    color: var(--color-secondary);
}

.heart-fill.not-favorite {
    color: transparent;
}

.heart-outline {
    color: var(--color-main-white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}