.profile-greeting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-main-white);
    padding: 1em;
}

.card--my-playlists {
    background-color: var(--color-main-white);
    padding: 1em;
    border-radius: 0 0 1.2em 1.2em;
}

.my-playlists {
    background-color: var(--color-secondary);
    border-radius: 1em;
    padding: 1em;
}

.login-form-button-container {
    display: flex;
    justify-content: space-evenly;
}