.playlist-overview-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--color-main-white);
    padding: 1em;
    border-radius: 0 0 1.2em 1.2em;
}

.playlist-favorites-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secondary);
    list-style: none;
    border-radius: 1em;
    padding: 0.5em;
}

.playlist-favorites-img-wrapper {
    width: 4em;
    height: 4em;
    border-radius: 0.5em;
    overflow: hidden;
}

.playlist-favorites-img-wrapper img {
    height: 100%;
}
