/* ========================================
   Page: Registration
======================================== */

.card--register-error-message {
    padding: 1em;
    background-color: var(--color-main-white);
    border-radius: 0 0 1.2em 1.2em;
}

.card--register-error-message p {
    color: var(--color-secundary);
}