/* ========================================
   Page: Home
======================================== */

/* ===== 1. Cards ===== */

.error-message {
    font-family: "Jura", serif;
    text-transform: uppercase;
    font-weight: bold;
}

.error-message-container {
    display: flex;
    gap: 0.5em;
    align-items: center;
    background-color: white;
    color: var(--color-primary);
    padding: 1em;
    border-radius: 0 0 1.2em 1.2em;
}

/* ===== 1.1 Introduction Card ===== */

.introduction {
    background-color: var(--color-main-white);
    border-radius: 0 0 1.2em 1.2em;
    padding: 1em;
}

.introduction p {
    color: var(--color-secondary);
    margin-top: 0.5em;
}

.go-to-profile {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

/* ===== 1.2 Login Form Card ===== */

.form {
    display: flex;
    flex-direction: column;
    background-color: var(--color-main-white);
    padding: 0.8em;
    border-radius: 0 0 1.2em 1.2em;
}

.form-button-container {
    display: flex;
    justify-content: space-evenly;
}

/* ===== 1.3 Connect to Spotify Card ===== */

.connect-spotify {
    display: flex;
    align-items: center;
    color: var(--color-secondary);
    padding: 1em;
    background-color: var(--color-main-white);
}

.spotify-img-wrapper {
    flex: 0 0 3em;
    margin-right: 1em;
}

.spotify-img-wrapper img {
    width: 100%;
}

/* ===== 1.4 Genre Selection Card ===== */

.selected-genres-display {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: var(--color-primary);
    border-radius: 0 0 1.2em 1.2em;
}

.selected-genres-display h3 {
    color: var(--color-main-white);
}

.delete-selected-genres-button {
    display: inline-flex;
    align-items: center;
    align-self: center;
    margin-top: 1em;
}

.selected-genres-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    list-style: none;
}

.selected-genre-list-item {
    display: flex;
    align-items: center;
    background-color: var(--color-secondary);
    color: var(--color-main-white);
    padding: 0.3em 0.8em;
    border-radius: 1em;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/* ===== 1.5 Playlist suggestions Card ===== */

.playlist-list-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: var(--color-primary);
    padding: 1em;
    list-style: none;
    border-radius: 0 0 1.2em 1.2em;
}

.playlist-list-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 1em;
    width: 100%;
    background-color: var(--color-main-white);
    padding: 0.5em;
    text-align: left;
    border-radius: 0.8em;
    word-break: break-word;
}

.playlist-img-wrapper {
    height: 4em;
    width: 4em;
}

.playlist-img {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 0.4em;
}

/* ===== 1.6 Artist Selection Card ===== */

.artist-selection {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    padding: 1em;
    border-radius: 0 0 1.2em 1.2em;
    gap: 1em;
}

.artist-selection form {
    display: flex;
}

.artist-info-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    background-color: var(--color-main-white);
    padding: 0.5em 1em; /* Adds some space inside */
    border-radius: 1.2em; /* Optional: makes it look softer */
}

.artist-info-card {
    background-color: var(--color-main-white);
    border-radius: 0 0 1.2em 1.2em;
    padding: 1em;
}

.artist-img-wrapper {
    width: 100%;
}

.artist-img-wrapper img {
    width: 100%;
    border-radius: 0.8em;
}

.artist-info-card-home {
    border-radius: 1.2em;
}

.artist-details-home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-details-home-page .search-difference {
    margin-bottom: 1em;
    color: var(--color-main-white);
}

.search-difference strong {
    text-decoration: underline;
}

/*==== Media Queries ====*/

@media screen and (min-width: 768px) {

}

@media screen and  (min-width: 768px) and (max-width: 1024px) {

}