/* ========================================
   Page: Home
======================================== */

/* ===== 1. General Styles ===== */


/* ===== 2. Cards ===== */

/* ===== 2.1 Introduction Card ===== */

.introduction {
    background-color: var(--color-main-white);
    border-radius: 0 0 1.2em 1.2em;
    padding: 1em;
}

.introduction p {
    color: var(--color-secondary);
    margin-top: 0.5em;
}

.go-to-profile {
    display: flex;
    justify-content: center;
    padding-top: 1em;

}

/* ===== 2.2 Login Form Card ===== */

.form {
    display: flex;
    flex-direction: column;
    background-color: var(--color-main-white);
    padding: 0.8em;
    border-radius: 0 0 1.2em 1.2em;
}

.form-button-container {
    display: flex;
    justify-content: space-evenly;
}

/* ===== 2.3 Connect to Spotify Card ===== */

.connect-spotify {
    display: flex;
    align-items: center;
    color: var(--color-secondary);
    padding: 1em;
    background-color: var(--color-main-white);
}

.spotify-img-wrapper {
    flex: 0 0 3em;
    margin-right: 1em;
}

.spotify-img-wrapper img {
    width: 100%;
}

/* ===== 2.4 Category Selection Card ===== */

.selected-categories-display {
    display: flex;
    flex-direction: column;
    padding: 1em;

    background-color: var(--color-primary);
    border-radius: 0 0 1.2em 1.2em;
}

.selected-categories-display h3 {
    color: var(--color-main-white);
    margin-bottom: 1em;
}

.selected-categories-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    list-style: none;
}

/* ===== 2.5 Artist Selection Card ===== */

.artist-selection {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    padding: 1em;
    border-radius: 0 0 1.2em 1.2em;
    gap: 1em;
}

.artist-selection form {
    display: flex;
}

/* ===== 2.6 Artist Info Card ===== */

.artist-info-link {
    display: inline-flex; /* Makes the container fit its content */
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    margin-top: 1em;
    background-color: var(--color-main-white);
    padding: 0.5em 1em; /* Adds some space inside */
    border-radius: 1.2em; /* Optional: makes it look softer */
}

.artist-info-card {
    background-color: var(--color-main-white);
    border-radius: 0 0 1.2em 1.2em;
    padding: 1em;
}

.artist-img-wrapper {
    width: 100%;
}

.artist-img-wrapper img {
    width: 100%;
    border-radius: 1.2em;
}

.artist-info-card-home {
    border-radius: 1.2em;
}

/* ===== 2.7 Music Suggestions Card ===== */

.music-suggestions {
    background-color: var(--color-main-white);
    padding: 1em;
    border-radius: 0 0 1.2em 1.2em;
}

.music-suggestions-playlist {
    background-color: var(--color-secondary);
    border-radius: 1em;
    padding: 1em;
}