/* ========================================
   Component: Input Field
======================================== */

/* ===== 1. General Input Styles ===== */

input {
    font-family: inherit;
    padding: 0.3em 1.2em 0.3em 1.2em;
    outline: none;
    border: none;
    border-radius: 1em;
}

/*TODO: check autofill options CSS*/
/*.form-input:-webkit-autofill:active {*/
/*    color: red !important;*/
/*} this doesn't work yet*/

/* ===== 2. Specific Input Styles ===== */

.form-input {
    background-color: var(--color-primary);
    color: var(--color-main-white);
    margin-bottom: 0.8em;
}

.form-input::placeholder {
    color: var(--color-main-white);
}

.artist-selection input, input::placeholder {
    background-color: transparent;
    font-family: "Jura", serif;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    color: var(--color-main-white);
    margin-left: 0.8em;
}

.genre-search-query, .genre-search-query::placeholder {
    background-color: var(--color-secondary);
    font-family: "Jura", serif;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    color: var(--color-main-white);
}