/*===== Desktop Navbar =====*/
.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.6em;
    max-width: 1200px;
    padding: 0 1em 0 1em;
    background-color: var(--color-primary);
}

.desktop-menu {
    display: flex;
    gap: 1em;
}

.desktop-menu-list {
    display: flex;
    align-items: center;
    gap: 2em;
    list-style: none;
    font-family: 'Jura', 'Verdana', serif;
    font-weight: bold;
    text-transform: uppercase;
}

.desktop-menu-list a,
.desktop-menu-list a:visited {
    color: var(--color-main-white);
}

/* Desktop Logo & Title */
.logo-title-wrapper.desktop {
    display: flex;
    align-items: center;
    gap: 1em;
}

.logo-img-wrapper {
    width: 6em;
}

.logo-subtitle-wrapper h1 {
    font-size: 3rem;
    color: var(--color-main-white);
}

.logo-subtitle-wrapper p {
    font-size: 1rem;
    color: var(--color-main-white);
}


/*---------------------------------------------------------------*/

/*===== Mobile Navbar =====*/
.mobile-nav {
    background-color: var(--color-primary);
    padding: 1em 1em 0.5em 0.5em;
    width: 100vw;
}

/* Mobile Logo & Title */
.logo-title-wrapper.mobile {
    display: flex;
    gap: 1em;
    align-items: center;
    text-align: center;
    margin: 0.5em;
}

.logo-img-wrapper.mobile {
    flex: 0 0 3.5em;
}

.logo-subtitle-wrapper.mobile h1 {
    font-size: 2.5rem;
}

.logo-subtitle-wrapper.mobile p {
    font-size: 0.85rem;
}

/* Mobile Menu (Slides from the Right) */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -106%;
    width: 100vw;
    height: auto;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: right 0.3s ease-in-out;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2);
    padding: 2em;
}

.mobile-menu.open {
    right: 0;
}

.mobile-menu.open ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6em;
    list-style: none;
    color: var(--color-main-white);
    font-family: 'Jura', 'Verdana', serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* Hamburger Button */
.menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-main-white);
    font-size: 1.5rem;
    z-index: 101;
}

/*-------------Media queries--------------------------------------------------*/

/* Hide hamburger button on desktop */
@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

@media screen and  (min-width: 768px) and (max-width: 1024px) {
    .desktop-menu-list {
        gap: 1em;
    }

    .desktop-menu-list a {
        font-size: 0.8em;
    }

    .sign-out-button {
        font-size: 0.8em;
    }

    .logo-subtitle-wrapper h1 {
        font-size: 2.5rem;
    }

    .logo-subtitle-wrapper p {
        font-size: 0.9rem;
    }
}
