/* ========================================
   Page: Error
======================================== */

.error-card {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: var(--color-main-white);
    padding: 1em;
    margin: 1em;
    text-align: center;
}

.error-card h2 {
    color: var(--color-primary);
    margin-bottom: 0.5em;
}

.error-card a {
    color: var(--color-primary);
    text-decoration: underline;
}