.avatar {
    background-color: var(--color-secondary);
    border-radius: 50%;
    border: 3px solid var(--color-main-white);
    width: 3em;
    height: 3em;
    overflow: hidden;
    box-shadow: 4px 4px 12px var(--color-tertiary);
}

.avatar-img {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 0.4em;
}