/* ------------------ 1. Global styles ------------------ */

/* ------------------ 2. Typography ------------------ */

/* ------------------ 3. Layout ------------------ */
/* ------------------       3.1. Reusables ------------------ */
.inner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 1em;
}
/* ------------------ 4. Areas ------------------ */

/* ------------------ 5. Me ------------------ */
