main {
    flex: 1;
}

.outer-container--main {
    background-color: var(--color-tertiary);
}

.inner-container {
    display: flex;
    margin: 1em;
}

main section {
    box-sizing: border-box;
    border-radius: 1.2em;
    display: block;
    break-inside: avoid;
    height: auto;
    margin-bottom: 1em;
}

