
/* ------------------ 1. Layout ------------------ */
/* ------------------       1.1. Reusables ------------------ */

main {
    flex: 1;
}

.outer-container--main {
    background-color: var(--color-tertiary);
}

.inner-container {
    display: flex;
    margin: 1em;
}

main section {
    box-sizing: border-box;
    border-radius: 1.2em;
    display: block;
    break-inside: avoid;
    height: auto;
    margin-bottom: 1em;
}
/* ------------------ 4. Pages ------------------ */



/* ------------------------------- 5. Media Queries -------------------------------- */
/*Base website is built for desktop/laptop width*/

/*------For Smartphones------*/
@media screen and (max-width: 767px) {

}

/*------For Tablets------*/
@media screen and  (min-width: 768px) and (max-width: 1024px) {

}