@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

/* ------------------ 1. Global styles ------------------ */

:root {
    --color-primary: #AD343E;
    /*--color-primary: #E0607E;*/

    --color-secondary: #19647E;
    --color-tertiary: #0B0A07;
    --color-main-white: #FFFFFF;
    --color-shadows: #1E1E1E;
    --color-radio-player-bg: #121212;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

/* ------------------ 2. Lay out ------------------ */

html, body {
    min-height: 100vh;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background-color: var(--color-tertiary);
    flex: 1;
}

header, footer {
    flex-shrink: 0;
}

/* ------------------ 3. Typography ------------------ */

body {
    font-family: 'K2D', 'Tahoma', serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Jura', 'Verdana', serif;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 1.2em;
}

a, a:visited {
    text-decoration: none;
    color: var(--color-tertiary);
}